body {
    background-color: #1f1f1f;
    color: #eaeaea;
    font: 13px Century Gothic,arial,sans-serif;
}

a {
    text-decoration: none;
    color: #eaeaea;
}

input[type="date"], input[type="text"], input[type="number"] {
    background: #2f2f2f;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: #2f2f2f;
    box-shadow: none !important;
    color: #929292;
}

input[type="submit"] {
    background-color: #1f1f1f;
    border: none;
    color: white;
    border-radius: 4px;
    border: 1px solid #1f1f1f;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.header {
    padding: 20px;
    height: 50px;
    background: #A02929;
    margin: -8px -8px 0px;
    border-bottom: 1px solid #D83939;
}

ul.menu {
    float: right;
    padding: 0;
}

ul li {
    list-style: none;
    display: inline-block;
    background: #691717;
    border: 1px solid #B73F3F;
    padding: 10px 20px;
    border-radius: 4px;
    margin-left: 10px;
}

.ui-widget-header {
    background: #2f2f2f !important;
    color: #fff !important;
    border-color: #3f3f3f !important;
}

.ui-datatable th.ui-state-default {
    display: table-cell !important;
    background-color: #424242 !important;
    border-color: #3f3f3f !important;
    color: #eaeaea !important;
}

.ui-datatable .ui-column-filter {
    display: block !important;
    width: 100% !important;
    box-sizing: border-box !important;
    margin-top: 4px !important;
    background: #1f1f1f !important;
    border-color: #3f3f3f !important;
}

.ui-datatable tbody > tr.ui-widget-content {
    color: #929292;
    /* background-color: #2f2f2f; */
    border-color: #2B2B2B;
}

.ui-datatable-odd {
    background-color: #383737 !important;
}

.ui-widget-content {
    border: 1px solid #3f3f3f !important;
    background: #2B2929 !important;
    color: #222222;
}

.ui-datatable tbody > tr.ui-widget-content {
    border-color: #3f3f3f;
}

.ui-paginator .ui-paginator-page.ui-state-active {
    background: #CC3434 !important;
    color: #ffffff !important;
    border-color: #C7362B !important;
}